dataset/
.venv/
.env
.env.local
lambdas/**/node_modules/
node_modules/
*.json
!google-services.json
node_modules/.package-lock.json
package.json
package.json
package-lock.json
package.json
package-lock.json
